$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-bottom: 20px;
    font-family: 'Signika', sans-serif;
    background: url(/images/dust.png);
    background-attachment: fixed;
}

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.container-narrow > hr {
    margin: 20px 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    .jumbotron {
        border-radius: 0;
    }

}

.header {
    background: url(/images/dust.png);
    min-height: 100px;
    margin-top: 0;
    padding-bottom: 0;
    opacity: 0.97;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.name {
    float: right;
    padding-right: 20%;
    margin-left: 50px;
    color: #a96426;
}

.nav a {
    color: #000;
    position: fixed;
}

.nav-pills {
    font-size: 26px;
    padding-top: 3%;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: transparent;
    color: #000;
    text-decoration: underline;
}

.nav-pills > li > a {
    border-radius: 2px;
}

.nav > li > a {
    padding: 20px 25px;
}

.nav li a:hover {
    color: #a96426;
}

.dropdown-menu {
    font-size: 18px;
    width: 320px;
    height: 210px;
    background-color: #e9e8eb;
    .divider {
        background-color: #e9e8eb;
    }
    li {
        padding-top: 25px;
    }

}

.topContent {
    margin-top: 200px;
    padding-bottom: 150px;
    h2 {
        font-size: 4em;
        color: #e9e8eb;
    }
    img:hover {
        -webkit-transition-duration: 2s;
        transition-duration: 2s;
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

.myPic {
    border-radius: 100%; 
    opacity: 0.95;
    -webkit-transition-duration: 2s;
    transition-duration: 2s; 
}

.blackout {
    background-color: #000;
}

.jumbotron {
    background: url(/images/rail.jpg);
    opacity: 0.85;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-height: 600px;
    text-align: center;
}

.marketing {
    margin: 40px 8% 0 8%;
    padding-bottom: 20px;
    // border-bottom: 1px solid #c0c0c0;
    a {
        color: #a96426;
        text-decoration: none;
    }
}

.indent {
    margin-left: 5%;
    margin-right: 5%;
}

.footer {
    padding-top: 19px;
    border: none;
    min-height: 50px;
    max-height: 50px;
    padding-top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
}

.socialLinks {
    text-align: center;
    a {
        padding-right: 40px;
        opacity: 0.4;
        -webkit-transition-duration: 2s;
        transition-duration: 2s;
    }
    a:hover {
        opacity: 1;
        -webkit-transition-duration: 2s;
        transition-duration: 2s;
        -webkit-transform:rotate(15deg);
        transform:rotate(15deg);
    }  
}

.mail {
    margin-right: 1%;
}

@media screen and (min-width: 700px) {
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .header {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1280px) {
   .header h2 {
        padding-right: 10%;        
    }
}

@media screen and (max-width: 730px) {
    .nav > li > a {
    padding: 20px 40px;
    }
    .nav {
        margin-left: 12%;
    }
    .nav-pills {
        font-size: 32px;
    }
    .myPic {
        width: 220px;
        height: 220px;
    }
    .dropdown-menu {
        font-size: 19px;
        width: 325px;
        height: 350px;
        li {
            padding-top: 45px;
        }
    }
    .socialLinks img {
        margin-right: 5%;
        width: 60px;
        height: 60px;
    }
    .github img {
        width: 95px;
        height: 95px;
    }
    .mail {
        margin-left: 10%;
        margin-right: 3%;
    }
  
}

@media screen and (max-width: 700px) {
    .nav {
        margin-left: 5%;
    }
    .nav > li > a {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 480px) {
    // .nav {
    //     margin-left: 3%;
    // }
    .nav > li > a {
        padding: 20px 10px;
    }
    .socialLinks img {
        margin-right: 0;
    }
    .mail {
        margin-left: 5%;
        margin-right: 5%;
    }
  
}



